TrueHRMS/alte320/**
TrueHRMS/db_script/**
TrueHRMS/system/**
TrueHRMS/.editorconfig
TrueHRMS/.gitignore

TrueHRMS/application/cache/**
TrueHRMS/application/core/**
TrueHRMS/application/helpers/**
TrueHRMS/application/language/**
TrueHRMS/application/logs/**
TrueHRMS/application/third_party/**
TrueHRMS/application/.htaccess
TrueHRMS/application/.htaccess_old
TrueHRMS/application/index.html
