alte320/**
db_script/**
system/**
.editorconfig

application/cache/**
application/core/**
application/helpers/**
application/language/**
application/logs/**
application/third_party/**
application/.htaccess
application/.htaccess_old
application/index.html
